@page "/"

<PageTitle>Home</PageTitle>

<h1>Configurable UI Sample App</h1>

<NavLink class="nav-link" href="admin">
    <span class="oi oi-list-rich" aria-hidden="true"></span> Admin |
</NavLink>

<NavLink class="nav-link" href="userprofile">
    <span class="oi oi-list-rich" aria-hidden="true"></span> User Profile
</NavLink>
