@page "/userprofile"
@using ConfigurableUI.App.Api.Client
@using ConfigurableUI.App.Api.Entities
@inject ConfigurableUIApiClient apiClient

<h3>Frontend</h3>
<div>Use Profile</div>

<div>
    @foreach (var item in this.Fields)
    {
        <div class="row">
            <div class="col-25">
                @item.Title
            </div>
            <div class="col-75">
                <DynamicComponent Type="item.GetComponentType()" Parameters="item.GetParams(this.FieldValues)" />
            </div>
        </div>
    }

    <div class="row">
        <div class="col-25">&nbsp;</div>
        <div class="col-75"><button @onclick="SaveUserProfile">Save</button></div>
    </div>
</div>

@code {
    List<FieldDTO> Fields = new List<FieldDTO>();
    List<UserValueDTO> FieldValues = new List<UserValueDTO>();

    public async Task SaveUserProfile()
    {
        await this.apiClient.SaveUserProfile(new SaveUserProfileRequest(this.FieldValues));
    }

    protected override async Task OnInitializedAsync()
    {
        var userProfileResponse = await this.apiClient.GetUserProfile();

        if (userProfileResponse != null)
        {
            this.Fields = userProfileResponse.Fields;
            this.FieldValues = userProfileResponse.Values;
        }
    }
}
